.vidlist {
    display: flex;
    flex-wrap: wrap;
}

.auth-section {
    > * {margin: 2rem;}
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    overflow: hidden;
}

input {
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
}
h6 {
    text-align: center;
}