

<h1 *ngIf="userId">logged in user: {{user?.email | json }}</h1>

  <form *ngIf="!userId" [formGroup]="signUpForm" (ngSubmit)="createAccount()">
    <h3>Sign Up</h3>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email" required>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" formControlName="password" required>
  
    <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
  </form>

  <form *ngIf="!userId" [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()">
    <h3>Sign In</h3>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email" required>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" formControlName="password" required>
  
    <button type="submit" [disabled]="signInForm.invalid">Sign In</button>
  </form>

<section *ngIf="userId">

  <input #searchTerm autofocus type="text" 
  placeholder="enter search term and click enter" 
  (keyup.enter)="search(searchTerm.value)" />
  <br>
  <button (click)="onSignOutClick()">SIGN OUT</button>
  <br>

  <form [formGroup]="selectionForm" (ngSubmit)="onSelectionSubmit()">
    <input type="text" id="name" formControlName="name" 
    placeholder="enter preset selection">
    <input type="checkbox" formControlName="preLoad" /> 
    <label for="selections">Selections:</label>
    
    <button type="submit">Submit</button>
  </form>
  <p *ngFor="let selection of selections">
    <a href="#" (click)="search(selection.name);searchTerm.value = selection.name">
    {{selection.name}}</a> 
    load on start: 
    <input (click)="onPreLoadToggle(selection)" type="checkbox" [checked]="selection.preLoad" />
    <button (click)="onDeleteSelection(selection)">delete</button>
  </p>
  <br />
  <table mat-table [dataSource]="vidList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Thumbnail Column -->
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
      <td mat-cell *matCellDef="let element"> 
          <img (click)="openVideoDialog(element.id.videoId)" [src]="element.snippet.thumbnails.default.url" />
      </td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title. </th>
      <td mat-cell *matCellDef="let element">  
        <span (click)="openVideoDialog(element.id.videoId)">{{ element.snippet.title }}</span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['thumbnail','title']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['thumbnail','title'];"></tr>
  </table>
  

</section>